/* ===== GERAL ===== */
body {

    font-family: HeiT ASC Traditional Chinese,M Hei PRC W45,AXIS Font Japanese W55,FB New Gothic,Gotham Book,system,sans-serif;
    background-color: #eef4f7 !important;
}


/*===================*/

/* === PAGINA INICIAL === */
.highlight-phone.intro-sobre{
    background-color: white;
}
/*========================*/
#box-carousel.carousel-inner {
  display: flex;
  width: 100%;
  height: auto !important;
  justify-content: center;
  align-content: center;
}

.w-100.d-block {
  height: 100%;
}

.w-100.d-block {
}

.w-100.d-block.imagem-carousel {
  display: flex;
  height: auto;
  width: 100%;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  height: 100%;
  display: flex;
}

.col.item.social {
  color: #ffcc1e;
}


#contato {
  padding-bottom: 2vh !important;
}

#slide-imagens {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.w-100.d-block.imagem-carousel {
  display: flex;
  height: 100%;
  width: 100%;
}

#carousel-1 {
  height: 40vh;
}

.highlight-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
}

#titulo-section {
  text-align: center;
  font-family: HeiT ASC Traditional Chinese,M Hei PRC W45,AXIS Font Japanese W55,FB New Gothic,Gotham Book,system,sans-serif;
}

footer .copyright {
  text-align: center;
}

#box-cop {
  justify-content: center;
  height: 51px;
  align-items: center;
}

#box-logos-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-menu-ufrn {
  height: 35px;
}

#logo-menu {
  height: 35px;
}

.logo-header {
  height: 35px;
}

.header-blue {
  background-image: url(../../assets/img/13009.jpg);
  height: 700px;
}

.row.features {
  color: white;
}

.logo-footer {
  width: 50%;
}

.row.grupo-logos-footer {
  height: 100%;
  display: flex;
  align-items: start;
}

#pgn-sobre-barra-titulo {
  /*padding: 5% 0% 2% 0%;*/
  background-color: #007eb8;
  color: white;
}

#lista-eventos-pgn-eventos {
  justify-content: space-around;
}

#super-card {
  height: 100%;
  background-color: white;
  box-shadow: 0px 0px 13px 5px rgba(47,47,47,.2);
  /*padding: 15px;*/
}

.sessao-card {
  padding: 15px;
  /*height: 55vh;*/
}



.col-md-12.col-lg-4.col-md-4.col-sm-12.titulo-info {
  background-color: rgb(0,84,122);
  height: 15vh;
}

.titulo-info h4 {
  color: white;
  margin-bottom: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.info h4 {
  color: grey;
  margin-bottom: 0%;
  height: 100%;
  display: flex;
  align-items: center;
}

/* PAGINA CONTATO */

#pgn-sobre, #pgn-contato, #pgn-sobre .highlight-phone{
  background-color: #eef4f7;
}

@media(max-width: 992px){
  .titulo-info, .info{
      height: 7vh !important;
      text-align: center;
  }
  .titulo-info h4, .info h4{
    justify-content: center;
  }
}

/* ===== FORMULARIOS =====*/
.nf-form-cont{
  padding: 2%;
  box-shadow: 0px 0px 13px 5px rgba(47,47,47,.2);
  background-color: white;
  margin: 5% 0%;
  max-width: 1024px;
}
.nf-form-content label{
  color: grey;
}
.nf-form-title h3{
  color: rgb(0,126,184);
}

.nf-field-element input[type="button"]{
  color: #fff !important;
  background-color: rgb(0,84,122) !important;
  border-color: #007bff !important;
  opacity: 0.8;
}
.nf-field-element input[type="button"]:hover {
  background-color: rgb(0, 84, 122) !important;
  opacity: 1;
}
.nf-field-element input{
  display: block !important;
  height: calc(1.5em + .75rem + 2px) !important;
  padding: .375rem .75rem !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  border-radius: .25rem !important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}



.nf-field-element input:focus{
  color: #495057 !important;
  background-color: #fff !important;
  border-color: #80bdff !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25)  !important;
}
/* ====================== */


.social a {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
}


.ajusta-card{
  max-height: 480px;
  min-height: 480px;
  height: 100%;
}
.img-sobre-2{
  display: none;
}

@media(max-width: 768px){
  .features-blue .item .icon{
      display: none;
  }
  .features-blue .item{
      padding-left: 0px !important;
  }
}
@media (max-width: 440px) {
  .footer-dark .item.social{
      justify-content: center !important;
  }

  #lista-eventos-pgn-eventos .intro{
    margin-top: 5%;
  }
  #box-geral-sobre{
    flex-direction: column;
  }
  .img-sobre-1{
    display: none;
  }
  .img-sobre-2{
    display: block;
  }

  #super-card .row:last-child div:last-child{
    height: auto !important;
  }
}

